@import "./color-palette.scss";

body {
  background-color: $charcoal-grey;
  color: $dark-slate-grey;
  font-family: "Roboto", sans-serif;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
