@import "../../color-palette.scss";

.backdrop {
  background-color: $charcoal-grey;
  height: 100%;
  width: 100%;
  z-index: 20;
}
.modal {
  width: 450px;
  height: 500px;
  box-sizing: border-box;
  padding: 40px;
  z-index: 30;

  .bolded {
    font-weight: 700;
  }

  button {
    margin-top: 30px;
  }
}
